/* --------------- Common elements --------------- */
html {
	font-size: 1px;
}
body {
	width: 100%;
	margin: 0;
	padding: 0;
	font-size: 20.9rem;
	font-family: 'MyriadPro', Arial, Helvetica, sans-serif;
	color: #000000;
	background-color: #ffffff;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

p {
	margin: 0;
	padding: 0;
}

.container {
	margin: 0 auto 40px auto;
	overflow: hidden;
	/* outline: purple 2px solid; */
	/* background-color: blue; */
}

.left_column {
	float: left;
	margin-top: 5%;
	margin-left: 5%;
	width: 35%;
	outline: red solid 1px;
}

.right_column {
	/* display: none; */
	float: left;
	margin-top: 5%;
	/* margin-right: 3.5%; */
	width: 55%;
	outline: blue solid 1px;
}

.right_column .header_container {
	display: flex;
	vertical-align: middle;
	min-height: 60px;
	width: 1265;
	/* outline: red 3px solid; */
}

h3 {
	position: relative;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	font-size: 34.84rem;
	font-weight: normal;
}

h4 {
	margin: 0;
	padding: 0;
	font-size: 34.84rem;
	font-weight: normal;
}

h2 {
	margin: 0;
	text-transform: uppercase;
	font-size: 55.74rem;
	font-weight: bold;
	color: #0071bb;
	/* outline: green 3px solid; */
}

/* ---------------common elements Second column--------------- */
.right_column .column2_content_container {
	margin-left: 107px;
	margin-top: 75px;
	/* outline: 5px red solid; */
}

.right_column h3 {
	float: left;
	font-weight: bold;
	color: #0071bb;
}

.right_column h3::before {
	content: "";
	position: absolute;
	left: -82px;
	top: 12px;
	width: 40px;
	height: 40px;
	border: 0px;

	background-color: black;
	border-radius: 50%;
}

.right_column h4 {
	display: inline-block;
	padding-left: 29px;
}

.right_column dt h4:first-child {
	display: inline-block;
	padding-left: 0;
	margin-top: 4px;
	text-transform: uppercase;
}

.right_column dd {
	margin: 11px 0 25px 1px;
}

/* --------------- Full_Name block --------------- */
/* .full_name {
	display: block;
	position: relative;	
} */

section.full_name ul {
	margin-top: 26px;
	text-align: center;
}

section.full_name .circle_container {	
	padding: 9.6% 0 5% 0;
}

section.full_name .circle {
	margin: auto;
	width: 275px;
	height: 275px;

	background-color: #0071bb;
	border: 0px;
	box-shadow: 0 0 0 19px #ffffff,
							0 0 0 20px #0071bb;
	border-radius: 50%;
}

section.full_name .name {
	font-family: 'MyriadPro-Light', Arial, Helvetica, sans-serif;
	font-size: 70.77rem;	
	letter-spacing: 1rem;
}

section.full_name .surname {
	font-family: 'MyriadPro', Arial, Helvetica, sans-serif;
	font-size: 83.62rem;
	line-height: 70%;
	font-weight: bold;
}

section.full_name .profession {
	padding-top: 20px;
	font-family: 'MyriadPro', Arial, Helvetica, sans-serif;
	font-size: 33.85rem;
	letter-spacing: -0.7rem;
	font-weight: bold;
}
/* --------------- Header block --------------- */
header.header_container {
	margin: 20px 0 11px 0;
}

header.header_container ul {
	display: flex;
}

/* header.header_container .logo {
	display: flex;	
	width: auto;
	height: auto;
} */

header.header_container svg {
	width: 101.13px;
	height: 97px;	
}

header.header_container .name {
	display: flex;
	padding-left: 11px;
	min-width: 210px;
	overflow: hidden;
	
}

header.header_container h2 {
	margin: auto 0 auto 0;
	padding-bottom: 4.5rem;
}

header.header_container .line_container {
	display: flex;
	width: 100%;
}

header.header_container .line {
	margin: 44px 9% auto 3.9%;
	display: inline-block;
	
	flex-grow: 1;
	height: 7%;
	background-color: #0071bb;
}
/* --------------- Profile block --------------- */
section.profile	{
}

section.profile .container {
	margin-top: 43px;	
}

section.profile p {
	line-height: 120%;
}

section.profile p b {
	line-height: 123%;
}

/* --------------- Contact block --------------- */
section.contact {
	padding-top: 2.5rem;
}

section.contact header.header_container svg {
	width: 97px;
	height: 97px;	
}

section.contact header.header_container .name {
	min-width: 240px;
	padding-left: 15px;
	letter-spacing: 0.3rem;
}

section.contact header.header_container .line {
	margin: 44px 10% auto 3%;
}

section.contact .contacts_menu {
	display: flex;
	padding-top: 26.5rem;
}

section.contact .contacts_menu .names,
section.contact .contacts_menu .data {
	overflow: hidden;
	font-size: 27.87rem;
}

section.contact .contacts_menu .names {
	width: 29.9%;
}

section.contact .contacts_menu li {
	padding-bottom: 40rem;
}

section.contact .contacts_menu li:last-child {
	padding-bottom: 0;
}

section.contact .contacts_menu .names li {
	font-weight: bold;
	text-transform: uppercase;
	color: #0071bb;
}

/* --------------- Skills block --------------- */
section.skills header.header_container svg {
	width: 97px;
	height: 97px;	
}

section.skills header.header_container .name {
	min-width: 174px;
	padding-left: 12rem;
	padding-bottom: 3rem;
}

section.skills header.header_container .line {
	margin: 43rem 9% auto 4%;
}

section.skills {
	padding-top: 2.5rem;
}

section.skills section.personal_skills {
	margin-top: 24rem;	
	width: 96.5%;
	text-align: center;
}

section.skills .personal_skills ul {
	display: flex;
	margin: 10rem 0 28rem 0 ;
	padding-left: 10.8%;
}

section.skills .personal_skills ul:last-of-type {
	margin-top: 9px;
}

section.skills	.circle {
	width: 23.6rem;
	height: 23.6rem;
	border: #0071bb solid 0px;
	border-radius: 50%;
	background-color: #0071bb;
}

section.skills .personal_skills	li {
	margin-right: 2.69%;
}

/* ------------- gray color for circle skills elements -------------*/
.creative li:nth-last-child(4) ~ li .circle{
	background-color: #e6e6e6;	
}

.teamwork li:nth-last-child(2) ~ li .circle{
	background-color: #e6e6e6;	
}

.innovate li:nth-last-child(7) ~ li .circle{
	background-color: #e6e6e6;	
}

.communication li:nth-last-child(2) ~ li .circle{
	background-color: #e6e6e6;	
}

/* --------------- Education block --------------- */
.education {
	padding: 73px 0 50px 0px;
	/* outline: #0071bb 1px solid; */
}

/* --------------- Experience block --------------- */
.experience {
	padding: 42px 0 50px 0px;
	/* outline: #0071bb 1px solid; */
}

.experience h3 {
	color: black;	
}

.experience .column2_content_container {
	margin-top: 105px;
}

/* --------------- Software block --------------- */
.software {
	padding: 45px 0 50px 0px;
	/* outline: #0071bb 1px solid; */
}

.software .column2_content_container {
	display: flex;
	margin-top: 70px;
	margin-left: 14px;
	/* outline: blue solid 1px; */
}

.software ul {
	width: 553px;
	/* outline: red 1px solid; */
}

/* .software .skills2 {
	width: 400px;
} */

.software .skills_software:first-child {
	margin-right: 140px;
	/* outline: blue 4px solid; */
}

.software ul li:nth-child(2n-1) {
	text-transform: uppercase;
	font-size: 34.84rem;
	margin-bottom: 25px;
}

.software ul li:nth-child(2n) {
	flex-grow: 	1;
	margin-bottom: 45px;
	height: 45px;
	background-color: #3d6cb0;
}

/* --------------- gradient lines colors --------------- */
.software .skills_software:first-child li:nth-child(2) {
	background-image: linear-gradient(to right, #3d6cb0 91%, #e7e7e7 91%);
}

.software .skills_software:first-child li:nth-child(4) {
	background-image: linear-gradient(to right, #3d6cb0 71%, #e7e7e7 71%);
}

.software .skills_software:first-child li:nth-child(6) {
	background-image: linear-gradient(to right, #3d6cb0 56%, #e7e7e7 56%);
}

.software .skills_software:last-child li:nth-child(2) {
	background-image: linear-gradient(to right, #3d6cb0 83%, #e7e7e7 83%);
}

.software .skills_software:last-child li:nth-child(4) {
	background-image: linear-gradient(to right, #3d6cb0 62%, #e7e7e7 62%);
}

.software .skills_software:last-child li:nth-child(6) {
	background-image: linear-gradient(to right, #3d6cb0 91%, #e7e7e7 91%);
}