/* --------------- Common elements --------------- */
body {
	min-width: 2480px;
	margin: 0;
	padding: 0;
	font-size: 30.86px;
	font-family: 'MyriadPro', Arial, Helvetica, sans-serif;
	color: #000000;
	background-color: #ffffff;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

p {
	margin: 0;
	padding: 0;
}

.main_container {
	width: 2480px;
	margin: 0 auto;
	padding-top: 100px;
}

.left_column {
	float: left;
	width: 1100px;
}

.right_column {
	float: left;
	width: 1320px;
}

.left_column .header_container {
	display: flex;
	vertical-align: middle;
	min-height: 60px;
	width: 824px;
	/* outline: red 3px solid; */
}

.right_column .header_container {
	display: flex;
	vertical-align: middle;
	min-height: 60px;
	width: 1265;
	/* outline: red 3px solid; */
}

h3 {
	position: relative;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	font-size: 51.44px;
	font-weight: normal;
}

h4 {
	margin: 0;
	padding: 0;
	font-size: 51.44px;
	font-weight: normal;
}

h2 {
	position: relative;
	float: left;
	margin: auto;
	padding: 0 0 0 167px;

	font-size: 82.3px;
	font-weight: bold;
	color: #3d6cb0;
	/* outline: green 3px solid; */
}

h2::before {
	content: "";
	position: absolute;
	width: 126px;
	height: 126px;
	top: -16px;
	left: 7px;

	/* background-color: #0071bb;	 */
	background: url("../img/icons-sprite.png") no-repeat;
	border: solid 1px #0071bb;
	border-radius: 50%;
	box-shadow: 0 0 0 6px white,
							0 0 0 7px #0071bb;
}

.line {
	margin: auto auto auto 15px;
	display: inline-block;
	flex-grow: 1;

	height: 10px;
	background-color: #3d6cb0;
}

/* ---------------common elements Second column--------------- */
.right_column .column2_content_container {
	margin-left: 107px;
	margin-top: 75px;
	/* outline: 5px red solid; */
}

.right_column h3 {
	float: left;
	font-weight: bold;
	color: #3d6cb0;
}

.right_column h3::before {
	content: "";
	position: absolute;
	left: -82px;
	top: 12px;
	width: 40px;
	height: 40px;
	border: 0px;

	background-color: black;
	border-radius: 50%;
}

.right_column h4 {
	display: inline-block;
	padding-left: 29px;
}

.right_column dt h4:first-child {
	display: inline-block;
	padding-left: 0;
	margin-top: 4px;
	text-transform: uppercase;
}

.right_column dd {
	margin: 11px 0 25px 1px;
}

/* --------------- Main tab block --------------- */
.main_tab {
	position: relative;
	padding: 590px 0 100px 0;
	text-align: center;
}

.main_tab::before {
	content: "";
	position: absolute;
	top: 107px;
	left: 351px;
	width: 400px;
	height: 400px;

	background-color: #0071bb;
	border: 1px solid #0071bb;
	box-shadow: 0 0 0 29px #ffffff,
							0 0 0 30px #0071bb;
	border-radius: 50%;
}

.main_tab .name {
	font-family: 'MyriadPro-Light', Arial, Helvetica, sans-serif;
	font-size: 104.49px;	
}

.main_tab .surname {
	font-family: 'MyriadPro', Arial, Helvetica, sans-serif;
	font-size: 123.45px;
	line-height: 70%;
	font-weight: bold;
}

.main_tab .profession {
	padding-top: 30px;
	font-family: 'MyriadPro', Arial, Helvetica, sans-serif;
	font-size: 49.97px;
	letter-spacing: -1px;
	font-weight: bold;
}

/* --------------- Profile block --------------- */
.profile	{
	/* display: table; */
	padding: 75px 0 0 123px;
	margin-bottom: 32px;
	/* outline: #0071bb 1px solid; */
}

.profile h2::before {
	background-position: -25px -187px;
}

.profile p {
	margin-top: 46px;
	width: 850px;
}

.profile p b {
	line-height: 123%;
}

/* --------------- Contact block --------------- */
.contact {
	padding: 82px 0 50px 122px;
	outline: #0071bb 1px solid;
}

.contact h2::before {
	background-position: -349px -24px;
}

.contacts_menu {
	display: flex;
	margin-top: 53px;
	/* outline: red 1px solid; */
}

.contacts_menu .data {
	flex-grow: 1;
}

.contacts_menu .names li {
	padding: 30px 0;
	/* padding-left: 1px; */
	font-weight: bold;
	font-size: 41.15px;
	text-transform: uppercase;
	color: #3d6cb0;
}

.contacts_menu .data li {
	padding: 30px 0 30px 80px;
	font-size: 41.15px;
}
/* --------------- Skills block --------------- */
.skills {
	padding: 38px 0 50px 118px;
	outline: #0071bb 1px solid;
}

.skills h2::before {
	background-position: -189px -24px;
}

.personal_skills {
	margin: 69px 0 0 0;
}
/* ------------- centred personal skills elements -------------*/
.personal_skills h3:nth-of-type(1) {
	margin: 0px 0 0 320px;
}

.personal_skills h3:nth-of-type(2) {
	margin: 0px 0 0 290px;
}

.personal_skills h3:nth-of-type(3) {
	margin: 0px 0 0 310px;
}

.personal_skills h3:nth-of-type(4) {
	margin: 0px 0 0 222px;
}
/* ------------------------------------------------------------- */
.personal_skills ul {
	display: flex;
	margin: 17px 0 40px 0 ;
	padding-left: 95px;
}

.personal_skills ul:last-of-type {
	margin-top: 9px;
}

.personal_skills	li {
	margin-right: 20px;
	width: 35px;
	height: 35px;
	border: #3d6cb0 solid 0px;
	border-radius: 50%;
	background-color: #3d6cb0;
}

.creative li:nth-last-child(4) ~ li {
	background-color: #e6e6e6;	
}

.teamwork li:nth-last-child(2) ~ li {
	background-color: #e6e6e6;	
}

.innovate li:nth-last-child(7) ~ li {
	background-color: #e6e6e6;	
}

.communication li:nth-last-child(2) ~ li {
	background-color: #e6e6e6;	
}

/* --------------- Education block --------------- */
.education {
	padding: 73px 0 50px 0px;
	outline: #0071bb 1px solid;
}

.education h2::before {
	background-position: -349px -187px;
}

.education .header_container {
	outline: #0071bb 1px solid;
}

/* --------------- Experience block --------------- */
.experience {
	padding: 42px 0 50px 0px;
	outline: #0071bb 1px solid;
}

.experience h3 {
	color: black;	
}

.experience h2::before {
	background-position: -189px -187px;
}

.experience .column2_content_container {
	margin-top: 105px;
}

/* --------------- Software block --------------- */
.software {
	padding: 45px 0 50px 0px;
	outline: #0071bb 1px solid;
}

.software h2::before {
	background-position: -25px -24px;
}

