body {
	min-width: 2260px;
	margin: 0;
	padding: 0;
	font-size: 30.86px;
	color: #000000;
	background-color: #ffffff;
}

p {
	margin: 0;
	padding: 0;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.left_column {
	float: left;
	width: 990px;
	/* height: 4000px; */
	outline: red 1px solid;
}

.right_column {
	float: left;
	width: 1270px;
	outline: green 1px solid;
}

